# Aliases
# alias alias_name="command_to_run"

# run command that will fail with root privilege error
alias roottest='ls -al /root && fc -s roottest='ls -al /root'

# repeat last command with sudo
alias sud='sudo $(history -p !!)'

# repeat last command replacing badstr with goodstr
alias fix='fc -s 
alias fix-USAGE='fix badstr=goodstr where badstr=bad string in previous command and goodstr=the string to replace it'

# edit .bashrc then refresh (source) it
alias brc='micro ~/.bashrc && source ~/.bashrc'

# List scripts (create scripts dir if it doesn't exist)
fn_scripts() {
	DIR=~/scripts
	if [ ! -d "$DIR" ]; then
	    mkdir ~/scripts
	fi
	pushd ~/scripts
	chmod +x *
	ls -al
	echo "Current directory is now ~/scripts. Use popd to return to the previous directory."
}

alias scripts='fn_scripts'

# ls current directory
alias .='ls -lA --group-directories-first --color='always''

# install from .deb file
alias inst='sudo dpkg -i'

# Print my public IP
alias myip='curl ipinfo.io/ip'

# basic info re: this PC
alias thispc='uname -a'

# edit script in ~/scripts
alias edit='micro'

# Change dir then list contents
fn_cdls() {
  cd "$1"
  ls
}

alias cdls='fn_cdls'

# Create directory then cd into it
fn_md () {
  mkdir "$1"
  cd "$1"
  pwd
}

alias md='fn_md'

# Easy update & upgrade
alias upd8="sudo apt update && sudo apt upgrade"

# CLI calculator
alias calc='bc -l'

# up one directory
alias ..='cd .. && ls'

# up 2 directories
alias ...='cd ../.. && ls'

# up 3 directories
alias ....='cd ../../.. && ls'

# up 4 directories
alias ....='cd ../../../.. && ls'

# quick ping
alias ping='ping -c 8 -i .2'


fn_sysinfo() {
  OUTFILE=$HOME/.sysinfo
  echo "
    SYSTEM MEMORY USAGE
  " > $OUTFILE
  free -m -l -t >> $OUTFILE
  echo "

================================================================

    TOP PROCESSES - MEMORY 
  " >> $OUTFILE
  ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head >> $OUTFILE
  echo "
  
================================================================
  
    TOP PROCESSES - CPU 
  " >> $OUTFILE
  ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%cpu | head >> $OUTFILE
  echo "
  
================================================================
  
    PARTITION USAGE 
  " >> $OUTFILE
  df -hlT --exclude-type=tmpfs --exclude-type=devtmpfs >> $OUTFILE
  echo "
    
================================================================
    
    TOP DISK CONSUMPTION (IN $HOME)
  " >> $OUTFILE
  du -hsx * | sort -rh | head -10 >> $OUTFILE
  echo "
  
    " >> $OUTFILE
  xdg-open $OUTFILE
}

alias sysinfo='fn_sysinfo'

## pass options to free ##
alias meminfo='free -m -l -t'
 
## get top process eating memory
alias top10mem='ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head'
 
## get top process eating cpu ##
alias top10cpu='ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%cpu | head'
 
## Get server cpu info ##
alias cpuinfo='lscpu'

# Download a file (wget) with resume by default
alias download='wget -c'

# output file tree as text (ctrl+F!)
alias filetree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g' > .filetree && xdg-open .filetree"
