# Aliases
# alias alias_name="command_to_run"


###################################################################
###   . (DOT) - ls current directory                            ###
###################################################################
alias .='ls -lA --group-directories-first --color='always''


###################################################################
###   .. (DOT DOT) - up one directory (& ls)                    ###
###################################################################
alias ..='cd .. && ls'


###################################################################
###   ... (DOT DOT DOT) - up 2 directories (& ls)               ###
###################################################################
alias ...='cd ../.. && ls'


###################################################################
###   .... (DOT DOT DOT DOT) - up 3 directories (& ls)          ###
###################################################################
alias ....='cd ../../.. && ls'


###################################################################
###   EDIT .aliases then refresh (source) it                    ###
###################################################################
alias als='micro ~/.aliases && source ~/.bashrc'


###################################################################
###   EDIT .bashrc then refresh (source) it                     ###
###################################################################
alias brc='micro ~/.bashrc && source ~/.bashrc'


###################################################################
###   CALC - CLI calculator                                     ###
###################################################################
alias calc='bc -l'


###################################################################
###   CD THEN LS - Change dir then list contents                ###
###################################################################
fn_cdls() {
  cd "$1"
  ls
}
alias cdls='fn_cdls'


###################################################################
###   Get CPU info                                              ###
###################################################################
alias cpuinfo='lscpu'


###################################################################
###   INSTALL from .deb file                                    ###
###################################################################
alias deb='sudo dpkg -i'


###################################################################
###   Download a file (wget) with resume by default             ###
###################################################################
alias download='wget -c'


###################################################################
###   EDIT (file using micro editor)                            ###
###################################################################
alias edit='micro'


###################################################################
###   EDIT .bashrc then refresh (source) it                     ###
###################################################################
alias edbrc='micro ~/.bashrc && source ~/.bashrc'


###################################################################
###   output file tree as text (ctrl+F!)                        ###
###################################################################
alias filetree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g' > .filetree && xdg-open .filetree"


###################################################################
###   FIX - repeat last command replacing badstr with goodstr   ###
###################################################################
alias fix='fc -s && echo USAGE=fix badstr=goodstr where badstr=bad string in previous command and goodstr=the string to replace it'


###################################################################
###   INST - apt -install                                       ###
###################################################################
alias inst='apt install -y'


###################################################################
###   INSTALL - apt -install                                    ###
###################################################################
alias install='apt install -y'


###################################################################
###   CD THEN LS - Change dir then list contents                ###
###################################################################
alias lscd='fn_cdls'


###################################################################
###   MAKE DIR then CD into it                                  ###
###################################################################
fn_md () {
  mkdir "$1"
  cd "$1"
  pwd
}
alias md='fn_md'


###################################################################
###   pass options to free                                      ###
###################################################################
alias meminfo='free -m -l -t'


###################################################################
###   IP (PUBLIC) - Print my public IP                          ###
###################################################################
alias myip='curl ipinfo.io/ip'


###################################################################
###   PING (quick ping)                                         ###
###################################################################
alias ping='ping -c 8 -i .2'


###################################################################
###   sudo shortcut                                             ###
###################################################################
alias S='sudo'


###################################################################
###   SCRIPTS - List scripts (create dir if it doesn't exist)   ###
###################################################################
fn_scripts() {
	DIR=~/scripts
	if [ ! -d "$DIR" ]; then
	    mkdir ~/scripts
	fi
	pushd ~/scripts
	chmod +x *
	ls -al
	echo "Current directory is now ~/scripts. Use popd to return to the previous directory."
}
alias scripts='fn_scripts'


###################################################################
###   SYSINFO - Generate a quick system report                  ###
###################################################################
fn_sysinfo() {
  OUTFILE=$HOME/.sysinfo
  echo "
    SYSTEM MEMORY USAGE
  " > $OUTFILE
  free -m -l -t >> $OUTFILE
  echo "

================================================================

    TOP PROCESSES - MEMORY 
  " >> $OUTFILE
  ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head >> $OUTFILE
  echo "
  
================================================================
  
    TOP PROCESSES - CPU 
  " >> $OUTFILE
  ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%cpu | head >> $OUTFILE
  echo "
  
================================================================
  
    PARTITION USAGE 
  " >> $OUTFILE
  df -hlT --exclude-type=tmpfs --exclude-type=devtmpfs >> $OUTFILE
  echo "
    
================================================================
    
    TOP DISK CONSUMPTION (IN $HOME)
  " >> $OUTFILE
  du -hsx * | sort -rh | head -10 >> $OUTFILE
  echo "
  
    " >> $OUTFILE
  xdg-open $OUTFILE
}
alias sysinfo='fn_sysinfo'


###################################################################
###   MACHINE (BASIC INFO) - basic info re: this PC             ###
###################################################################
alias thispc='uname -a'


################################################################### 
###   get top process eating cpu                                ###
###################################################################
alias top10cpu='ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%cpu | head'


################################################################### 
###  get top process eating memory                              ###
###################################################################
alias top10mem='ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head'


###################################################################
###   Easy update & upgrade                                     ###
###################################################################
alias upd8="sudo apt update && sudo apt upgrade"


###################################################################
###   HOME - shortcut to home directory (this may already       ###
###   but if so, no harm done                                   ###
###################################################################
alias ~='cd ~'
