# Aliases
# alias alias_name="command_to_run"

###################################################################

#>>>	. (DOT) - ls current directory
alias .="ls -la --group-directories-first --color='always'"

###################################################################

#>>>	.. (DOT DOT) - up one directory (& ls)
alias ..="cd .. && ls -la"

###################################################################

#>>>	... (DOT DOT DOT) - up 2 directories (& ls)
alias ...="cd ../.. && ls -la"

###################################################################

#   .... (DOT DOT DOT DOT) - up 3 directories (& ls)
alias ....="cd ../../.. && ls -la"

###################################################################

#   EDIT .aliases then refresh (source) it
alias als="nano ~/.aliases && source ~/.bashrc"

###################################################################

#   EDIT .bashrc then refresh (source) it
alias brc="nano ~/.bashrc && source ~/.bashrc"

###################################################################

#   C. - Clear then ls
alias c.="clear && ls-la"

###################################################################

#   CALC - CLI calculator
alias calc="bc -l"

###################################################################

#>>>	CD THEN LS - Change dir then list contents
fn_cdls() {
  cd "$1"
  ls -la
}
alias cdls="fn_cdls"
alias lscd="fn_cdls"
alias cl="fn_cdls"

###################################################################

#>>>	docker-compose up -d                             
alias dcup="docker-compose up -d"

###################################################################

#>>>	docker-compose down
alias dcdown="docker-compose down"
alias dcdn="docker-compose down"

###################################################################

#>>>	edit docker-compose.yml
alias edcy="nano docker-compose.yml"

###################################################################

#>>>	Get CPU info                              
alias cpuinfo="lscpu"

###################################################################

#>>>	INSTALL from .deb file                    
alias deb="sudo dpkg -i"

###################################################################

#>>>	Get disk info
alias disks="lsblk"
alias drvs="lsblk"

###################################################################

#>>>	Download a file (wget) with resume by default
alias dl="wget -c"
alias download="wget -c"

###################################################################

#>>>	EDIT (file using nano editor)            
alias edit="sudo nano"

###################################################################

#>>>	output file tree as text (ctrl+F!)        
alias filetree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g' > .filetree && xdg-open .filetree"

###################################################################

#>>>	Fix nano key bindings        
alias fixnano="wget -c https://github.com/don-ferris/terminal-cfg/raw/main/nanorc && cp ./nanorc /etc && echo Run again with sudo if not logged in as root"

###################################################################

#>>>	INSTALL - apt -install                    
alias install="sudo apt install"
alias inst="sudo apt install"

###################################################################

#>>>	MAKE DIR then CD into it                  
fn_md () {
  mkdir "$1"
  cd "$1"
  pwd
}
alias md="fn_md"

###################################################################

#>>>	MEMINFO
alias meminfo="free -m -l -t"

###################################################################

#>>>	IP (PUBLIC) - Print my public IP          
alias myip="curl ipinfo.io/ip"

###################################################################

#>>>	PING (quick ping)                         
alias ping="ping -c 8 -i .2"

###################################################################

#>>>	sudo shortcut                             
alias ss="sudo"

###################################################################

#>>>	SCRIPTS - List scripts (create dir if it doesn't exist)
fn_scripts() {
	DIR=~/scripts
	if [ ! -d "$DIR" ]; then
	    mkdir ~/scripts
	fi
	pushd ~/scripts
	chmod +x *
	ls -al
	echo "Current directory is now ~/scripts. Use popd to return to the previous directory."
}
alias scripts="fn_scripts"

###################################################################

#>>>	SYSINFO - Generate a quick system report  
fn_sysinfo() {
  OUTFILE=$HOME/.sysinfo
  echo "
    SYSTEM MEMORY USAGE
  " > $OUTFILE
  free -m -l -t >> $OUTFILE
  echo "

================================================================

    TOP PROCESSES - MEMORY 
  " >> $OUTFILE
  ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head >> $OUTFILE
  echo "
  
================================================================
  
    TOP PROCESSES - CPU 
  " >> $OUTFILE
  ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%cpu | head >> $OUTFILE
  echo "
  
================================================================
  
    PARTITION USAGE 
  " >> $OUTFILE
  df -hlT --exclude-type=tmpfs --exclude-type=devtmpfs >> $OUTFILE
  echo "
    
================================================================
    
    TOP DISK CONSUMPTION (IN $HOME)
  " >> $OUTFILE
  du -hsx * | sort -rh | head -10 >> $OUTFILE
  echo "
  
    " >> $OUTFILE
  xdg-open $OUTFILE
}
alias sysinfo="fn_sysinfo"

###################################################################

#>>>	MACHINE (BASIC INFO) - basic info re: this PC             ###
alias thispc="uname -a"

####################################################################

#>>>	get top process eating cpu                
alias top10cpu="ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%cpu | head"

####################################################################

###  get top process eating memory              
alias top10mem="ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head"

###################################################################

#>>>	Easy update & upgrade                     
alias upd8="sudo apt update && sudo apt upgrade"

###################################################################

#>>>	HOME - shortcut to home directory (this may already       ###
#>>>	but if so, no harm done                   
alias ~="cd ~"
